<?xml version="1.0"?>
<config>
	<modules>
		<Sm_Papa>
			<version>1.0.0</version>
			<title>MagenTech.com</title>
			<link><![CDATA[http://www.magentech.com/]]></link>
		</Sm_Papa>
	</modules>
	<global>
		<helpers>
		  <papa>
			<class>Sm_Papa_Helper</class>
		  </papa>
		</helpers>
		<models>
		  <papa>
			<class>Sm_Papa_Model</class>
		  </papa>
		</models>		
	</global>
	<adminhtml>
        <translate>
            <modules>
                <Sm_Papa>
                    <files>
                        <default>Sm_Papa.csv</default>
                    </files>
                </Sm_Papa>
            </modules>
        </translate>
	</adminhtml>	
 	<default>
		<papa_cfg module="papa">
			<general>
				<showcpanel>1</showcpanel>
				<color>cyan</color>
				<body_background_color>#ffffff</body_background_color>
				<body_link_color>#666666</body_link_color>
				<body_text_color>#666666</body_text_color>
				<menu_styles>1</menu_styles>
				<google_font>Dosis</google_font>
				<!--<google_font_font_weight>200</google_font_font_weight>-->
				<google_font_targets></google_font_targets>
				<!--<body_font_size>14px</body_font_size>
				<body_font_family>Arial</body_font_family>-->
				<responsive_menu>collapse</responsive_menu>
			</general>
		</papa_cfg>
	</default> 
</config> 